# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter / misc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Data
data/raw/
data/processed/
data/processed_pointcloud/
data/Shapenetcore_benchmark/

# Model outputs
checkpoints/
*.pt
*.pth
*.ckpt
*.npy

# Logs / plots / temp
*.log